Repository globodai-group/fam-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix(deps): group all updates into single pr to dev
  .github/dependabot.yml
Due: prettier --write

feat: add comprehensive badges and bump version to 1.0.0
  README.md
  package.json
Due: prettier --write

build: migrate from pnpm to bun
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .husky/commit-msg
  .husky/pre-commit
  README.md
  bun.lock
  bunfig.toml
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: update knip config for bun migration
  knip.json
Due: prettier --write

ci: remove npm ecosystem from dependabot
  .github/dependabot.yml
Due: prettier --write

refactor!: rename project to fam-sdk
  .github/workflows/release.yml
  README.md
  package.json
  src/__tests__/errors.test.ts
  src/__tests__/fam.test.ts
  src/client.ts
  src/errors/index.ts
  src/fam.ts
  src/index.ts
  typedoc.json
Due: eslint --fix, prettier --write

chore(husky): migrate hooks from bun to pnpm
  .husky/commit-msg
  .husky/pre-commit
Due: none

chore: add pnpm configuration
  .npmrc
Due: none

chore(deps): migrate package manager from bun to pnpm
  bunfig.toml
  package.json
Due: prettier --write

chore(ci): migrate ci workflow from bun to pnpm
  .github/workflows/ci.yml
Due: prettier --write

chore(ci): migrate release workflow from bun to pnpm
  .github/workflows/release.yml
Due: prettier --write

chore(deps): replace bun.lock with pnpm-lock.yaml
  bun.lock
  pnpm-lock.yaml
Due: prettier --write

docs: update readme for pnpm migration
  README.md
Due: none

docs: add claude.md project instructions
  CLAUDE.md
Due: none

docs: improve readme with professional design
  README.md
Due: none

chore(ci): add workflow_dispatch to release workflow
  .github/workflows/release.yml
Due: prettier --write

refactor!: rename package to @globodai/fam-sdk
  README.md
  package.json
Due: prettier --write

fix: rename package to globodai-fam-sdk
  package.json
Due: prettier --write

docs: update readme with new package name
  README.md
Due: none

ci: update release workflow with new package name
  .github/workflows/release.yml
Due: prettier --write

feat: add portalmodule for managing payment portal sessions and related types
  src/fam.ts
  src/index.ts
  src/modules/index.ts
  src/modules/portal.ts
  src/types/index.ts
  src/types/portal.ts
Due: eslint --fix, prettier --write

chore(release): update to v1.2.1 and adjust module paths
  package.json
Due: prettier --write

chore(release): downgrade version to v1.2.0
  package.json
Due: prettier --write

feat: enhance checkout config interface with additional
  src/types/portal.ts
Due: eslint --fix, prettier --write

feat: add method to list subscriptions by mangopay user with filtering options
  src/modules/subscriptions.ts
  src/types/subscriptions.ts
Due: eslint --fix, prettier --write

feat: update subscription payment and subscription with payments interfaces
  src/types/subscriptions.ts
Due: eslint --fix, prettier --write

feat: update user creation methods to include person type
  src/modules/users.ts
Due: eslint --fix, prettier --write

feat: add filter by external user id
  src/types/portal.ts
Due: eslint --fix, prettier --write

feat: extend checkout config interface with tag and trial days properties
  src/types/portal.ts
Due: eslint --fix, prettier --write

feat: add statement descriptor property to checkout config interface
  src/types/portal.ts
Due: eslint --fix, prettier --write

feat: introduce bundles module
  src/fam.ts
  src/modules/index.ts
  src/types/bundles.ts
  src/types/index.ts
  src/types/subscriptions.ts
Due: eslint --fix, prettier --write

feat: add bundle api
  src/modules/bundles.ts
Due: eslint --fix, prettier --write

feat: add bundle api
  src/fam.ts
  src/index.ts
  src/modules/index.ts
  src/modules/products.ts
  src/modules/subscriptions.ts
  src/types/index.ts
  src/types/portal.ts
  src/types/products.ts
  src/types/subscriptions.ts
Due: eslint --fix, prettier --write

feat: add bundle api test
  src/__tests__/modules.test.ts
Due: eslint --fix, prettier --write

fix: bundle test
  src/__tests__/modules.test.ts
Due: eslint --fix, prettier --write

fix: add bundle in readme
  README.md
  src/modules/products.ts
  src/types/products.ts
Due: eslint --fix, prettier --write

fix: add portal detail in readme
  README.md
Due: none

fix: add subscription detail in readme
  README.md
Due: none

feat: add promotion code
  README.md
  src/fam.ts
  src/index.ts
  src/modules/index.ts
  src/modules/promotions.ts
  src/types/index.ts
  src/types/portal.ts
  src/types/promotions.ts
Due: eslint --fix, prettier --write

fix: add module test
  src/__tests__/modules.test.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,mts}
  prettier --write: ((any of: *.{ts,mts}) or (any of: *.{json,yml,yaml})) or (any of: package.json)
